*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
} 
#btn{
    color: aliceblue;
    background-color: rgb(237, 22, 22);
    padding: 7px;
    width: 20%;
    font-size: large;
    font-family: sans-serif;
    border-radius: 4px;
    border-style: none;
    text-align: center;
    margin: auto;
    margin-top: 56px;
    display: block;
}
