*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}
nav{
    height: 10%;
   width:100% ;
   background-color: rgb(13, 14, 14);
   
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
a{
    text-decoration: none;
    font-size: large;
    font-family: sans-serif;
    color: white;
}