*{
    background-color: black;
    color: wheat;
}
h1{
background-color: rgb(215, 12, 12);
display: inline;
padding:5px;
animation: zoom 3s ease-in-out alternate 3s;
position: absolute;
top: 50%;
left: 50%;
border-radius: 10px;


}
@keyframes zoom {
    25%{
        transform: rotate(35deg);
    }
    50%{
        transform: scale(2);
    }
    75%{
        transform: skew(30px);
    }
    100%{
        transform: translate(145px);
    }
    
}

