*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

div {
    margin: 0 auto;
    background-color: rgb(249, 237, 237);
  width: 300px;     /* container ki width */
  height: 290px;    /* container ki height */
  border: 1px solid #f0eded; /* sirf dikhane ke liye */
  border-radius: 2px;
}

div img {
  width: 100%;      /* image ko container ke width ke hisaab se fit karo */
  height: 80%;     /* image ko container ke height ke hisaab se fit karo */
  object-fit: cover; /* image ko crop karke fit karega */
  padding: 14px;
  
}


h3{
    text-align: center;
    padding-top: 2px;
     text-transform: capitalize;
     font-family: sans-serif;
    font-weight: 600;
   
    
}
button{
    text-align: center;
    margin-left:104px ;
    border-style: none;
    background-color: rgb(41, 134, 134);
    color: white;
    padding: 8px 15px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
     border-radius: 3px;
     position: relative;
     bottom: 5px;
}