/* h1{
    
    margin-top:0 auto ;
    display: inline-block;
    background-color: aqua;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease-in 2s,background-color 0.3s;
}
h1:hover{
    background-color: red;
    transform: rotate(360deg);
} */



h1{
    margin: 78px;
    display: inline-block;
    background-color: rgb(246, 17, 55);
    border-radius: 5px;
    text-align: center;
    transition: transform 0.9s ;
    padding: 67px;
    color: rgb(231, 227, 222);
}

h1:hover{

    transform: rotate(360deg);
}