div{
    height: 50px;
    width: 150px;
    background-color: blue;
    margin:  78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius:4px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    transition: all;
    transition-duration: 3s;
   
}

div:hover{
    transform: rotate(45deg) scale(0.5) ;
}
