.box {
    width: 100px;
    height: 100px;
    background-color: rgb(236, 149, 188);
    display: inline-block;
    padding: 5px 7px;
    border-radius: 6px;
    color: white;

    /* P D T D */
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}
/* 
.box:hover {
    width: 200px;
} */

.box:hover {
   transform: rotate(45deg) scale(3) translate(90px);
}
