div{
    border-radius:18px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
    gap: 20px;
}

 .card img{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    object-fit: cover;

   
}