body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    margin-top: 8px;
}