
.text {
    animation: bounce 1s ease forwards;
}

@keyframes bounce {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0px white;
    }
    50% {
        transform: scale(1.3);
        box-shadow: 0 0 30px purple;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0px white;
    }
}
