.cart{

min-height:80vh;

padding:40px 30px;

background:#f5f5f5;

}



.cart h1{

text-align:center;

font-size:36px;

margin-bottom:35px;

color:#222;

}





.cart h2{

text-align:center;

color:#555;

}





.cart-item{

max-width:900px;

margin:20px auto;

background:white;

padding:20px;

border-radius:15px;

display:flex;

align-items:center;

gap:25px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

transition:0.3s;

}





.cart-item:hover{

transform:translateY(-5px);

box-shadow:0 10px 25px rgba(0,0,0,0.12);

}





.cart-item img{

width:150px;

height:150px;

object-fit:contain;

border-radius:10px;

background:#fafafa;

}





.cart-details{

flex:1;

}





.cart-details h3{

font-size:20px;

color:#222;

margin-bottom:10px;

}





.cart-details p{

font-size:18px;

font-weight:bold;

}





.quantity{

display:flex;

align-items:center;

gap:15px;

margin:15px 0;

}





.quantity button{

width:35px;

height:35px;

border:none;

background:#111;

color:white;

font-size:20px;

border-radius:6px;

cursor:pointer;

}





.quantity span{

font-size:20px;

font-weight:bold;

}





.remove{

padding:10px 20px;

border:none;

background:#e53935;

color:white;

border-radius:8px;

cursor:pointer;

font-size:15px;

}





.remove:hover{

background:#c62828;

}





.total{

max-width:900px;

margin:30px auto;

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

}





.checkout-btn{

display:block;

margin:20px auto;

padding:15px 40px;

background:#111;

color:white;

border:none;

border-radius:10px;

font-size:18px;

cursor:pointer;

}





.checkout-btn:hover{

background:#333;

}






@media(max-width:700px){


.cart{

padding:20px 10px;

}



.cart-item{

flex-direction:column;

text-align:center;

}



.cart-item img{

width:180px;

height:180px;

}


}
/*  */
/* ========================= */
/* Dark Mode */
/* ========================= */

body.dark .cart{

background:#121212;

}



body.dark .cart h1,

body.dark .cart h2,

body.dark .cart-details h3,

body.dark .cart-details p,

body.dark .total{

color:#fff;

}



body.dark .cart-item{

background:#1e1e1e;

box-shadow:0 5px 15px rgba(255,255,255,0.05);

}



body.dark .cart-item img{

background:#2b2b2b;

}



body.dark .quantity button{

background:#444;

color:#fff;

}



body.dark .quantity button:hover{

background:#666;

}



body.dark .remove{

background:#d32f2f;

}



body.dark .remove:hover{

background:#b71c1c;

}



body.dark .checkout-btn{

background:#fff;

color:#111;

}



body.dark .checkout-btn:hover{

background:#ddd;

}



body.dark .total{

background:#1e1e1e;

}