body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 8px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#msg {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
