* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: wheat; /* Navbar ka background yaha do */
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.nav a:hover {
  color: red;
}

h1 {
  color: red;
  margin: 40px;
}